{% extends "layout.twig" %}

{% block content %}
    Settings<br> 
    {% if publicKey %}
        {% include 'settings/keyInited.twig' %}
    {% else %}
        {% include 'settings/keyNeedInit.twig' %}
    {% endif %}

    <div style="border: 1px solid silver; margin-top: 8px;">
        <b>Database</b><br>
        {% if isDbCreated %}    
            {% include 'settings/dbCreated.twig' %}
        {% else %}
            {% include 'settings/dbNeedToBeCreated.twig' %}
        {% endif %}
    </div>
    
{% endblock %}
