<div style="border: 1px silver solid; padding: 8px; background-color: #FEE;">
    Your keys are not initialized.<br>
    <a href="{{ app.url_generator.generate('settings.initKeys') }}">Initialize  keys</a>
</div>