<form action="/settings/enterNetwork" method="post" class="form-group">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label>You are not in Network. Set invite Node URL:</label>
            </div>
            <div class="col-md-3">
                <input name="nodeKey" type="text" class="form-control" placeholder="Node key">
            </div>
            <div class="col-md-7">
                <input name="nodeUrl" type="text" class="form-control" placeholder="Node URL">
            </div>            
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Enter</button>
            </div>
        </div>
    </div>
</form>